<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <div>

                <a href="/"><img src="/images/logo.jpg" alt="logo"></a>

            </div>
            <div>

                <h2>Team Career Camp<br>Placement Cell</h2>
                
            </div>
            
        </div>
        <div class="auth-links">
            <ul>
                  <% if(locals.user) { %>
                   <li><a href="/users/profile"><%= user.name %></a></li>
                   <li><a href="/users/add-student">Add Students</a></li>
                   <li><a href="/company/home">Company List</a></li>
                   <li><a href="/">Generate CSV</a></li>
                   <li><a href="/users/sign-out">Sign Out</a></li>
                  <% } else { %>
                    <li><a href="/">Sign In</a></li>
                    <li><a href="/users/sign-up">Sign Up</a></li>
                  <% } %>
            </ul>
        </div>
    </nav>
</header>