<link rel="stylesheet" href="/css/add_student.css">

<form class="student-form" action="/users/create-student" method="post">
    <h3 class="form-title">Add Student</h3>

    <div class="form-group">
        <label for="batch">Batch</label>
        <input type="text" class="form-control" id="batch" name="batch" />
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="abc@gmail.com" name="email" />
    </div>

    <div class="form-group">
        <label for="contactNumber">Mobile Number</label>
        <input type="text" class="form-control" id="contactNumber" name="contactNumber" />
    </div>

    <div class="form-group">
        <label for="college">College Name</label>
        <input type="text" class="form-control" id="college" name="college" />
    </div>

    <div class="form-group">
        <label for="placement">Placement Status</label>
        <select class="form-select" aria-label="Default select example" name="placement" id="placement">
            <option value="Placed">Placed</option>
            <option value="Not Placed">Not Placed</option>
        </select>
    </div>

    <div class="form-group d-flex ">
        <div>
            <label for="dsa">DSA</label>
            <input type="text" class="form-control" id="dsa" name="dsa" />
        </div>
        <div>
            <label for="webd">Web Development</label>
            <input type="text" class="form-control" id="webd" name="webd" />
        </div>
        <div>
            <label for="react">React</label>
            <input type="text" class="form-control" id="react" name="react" />
        </div>
    </div>

    <button type="submit" class="btn-success ">Create Student</button>
</form>
