<link rel="stylesheet" href="/css/home.css">

<div id="home-container">

    <div id="home-container-left">
        <img src="/images/signin.gif" alt="">
    </div>

    <div id="home-container-right">

        <h3 class="heading">Welcome Back!</h3>
        <h3 class="heading">Sign In to</h3>
        <h6 class="heading">Placement Cell Career Camp</h6>
        <form action="/users/create-session" method="post">
            <input type="text" name="name" placeholder="Enter Username" required>
            <input type="text" name="password" placeholder="Enter Password" required>
            <input id="form-submit-button" type="submit" value="Sign-In">
            
        </form> 

        <div id="home-container-right-bottom">
        <p>
            Don't have an account? 
        </p> 
        <a href="">SignUp</a>   

    </div>
    </div> 
</div>        
  