<link rel="stylesheet" href="/css/home.css">

<div id="home-container">

    <div id="home-container-left">
        <img src="/images/signup.gif" alt="">
    </div>

    <div id="home-container-right">

        <h3 class="heading">Welcome!</h3>
        <h3 class="heading">Sign Up to</h3>
        <h6 class="heading">Placement Cell Career Camp</h6>
        
        <form action="/users/create" method="post">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="password" name="password" placeholder="Your Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" value="Sign Up">
        </form> 

        <div id="home-container-right-bottom">
        <p>
            Already have an account? 
        </p> 
        <a href="/">SignIn</a>   

    </div>
    </div> 
</div>        