#interview-list {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interview-list-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
}

.interview-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.interview-list-table thead{
    background-color: #2196f3;
}
.interview-list-table th, .interview-list-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.company-name {
    margin-right: 10px;
    color: blue;
    text-decoration: underline;
}

.button-link {
    display: inline-block;
    padding: 10px 15px;
    background-color:  #2196f3;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button-link:hover {
    background-color: #137bcf;
}

.button-update{
    display: inline-block;
    padding: 3px 15px;
    background-color: #2196f3;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.button-update:hover {
    background-color: #137bcf; /* Darker shade on hover */
}