#layout-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2196f3;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
  #layout-header nav .mini-logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #layout-header nav .mini-logo img{
    width: 100px;
  }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    list-style-type: none;
    display: flex;
    font-variant: all-petite-caps; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px; }
  #layout-header nav a {
    color: white;
    text-decoration: none;
    font-family: sans-serif; }
